/* --NewDialogue   新增对话  */
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
}

.head {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 65px;
  border-radius: 3px;
  background-color: #36485e;
  position: relative;
}

.outDialogue {
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('assets/images/icon/icn-popup-cross.svg') no-repeat center;
}

.determine {
  flex-shrink: 0;
  height: 50px;
  background-color: #edf0f7;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.3px;
  color: #36485e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 11px 0 18.5px;
}

.determine span {
  cursor: pointer;
}

.dialogueBox {
  width: 585px;
  height: 580px;
  height: 70vh;
  box-sizing: border-box;
  /* position: absolute; */
  /* top: -200%; */
  /* right: 0; */
  /* bottom: 5%; */
  /* left: 0; */
  /* opacity: 0; */
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.AnimationStart {
  animation: AnimationStart 0.35s linear forwards;
}

@keyframes AnimationStart {
  from {
    top: -200%;
    /* opacity: 0.5; */
  }

  to {
    opacity: 1;
    top: 5%;
  }
}

.scrollBoxs {
  width: 585px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  height: 100%;
}

.okBtn {
  color: #9e9a9a;
}
