.sendmge {
  display: flex;
  align-items: center;
  background-color: white;
  padding-bottom: 6px;
  padding-top: 14px;
  border-bottom: solid 1px #dae2ed;
}

.text {
  // width: 96px;
  height: 22px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #a4a4a4;
  margin-left: 30px;
}
