.wrapper {
  position: relative;
  padding-top: 200px;
  :global {
    .ant-dropdown-trigger {
      margin-left: 12px;
      width: 104px;
      height: 32px;
      border-radius: 4px;
      background-color: white;
    }
  }
}
:global {
  .ant-dropdown-menu-item {
    text-align: center;
  }
  .ant-collapse-item{
    background:#edf0f7;
  }
  .ant-collapse-content{
    background:#edf0f7;
    padding: 0;
  }

}

.InfoBox {
  text-align: center;
  color: #0c293a;
  border-bottom: solid 1px #dae2ed;
}
.InfoBox h4 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #0c293a;
  padding: 0 0.5em;
}

.InfoBox p {
  margin-top: 16px;
  font-size: 14px;
  color: #36485e;
}

.btn {
  flex-shrink: 0;
  width: 104px;
  height: 32px;
  outline: none;
  margin: 16px auto 0;
  background-color: #475f77;
  border-radius: 22.5px;
  border-color: 0;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  // cursor: pointer;
  // 取消btn的按下效果
  border: none;

  // background:none
}
.groupMemberTitle,
.groupFollowsTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.groupItemContainer {
  padding: 7px;
  border-top: solid 1px #dae2ed;
  margin-top: 20px;
  .groupMember {
    font-size: 16px;
    font-weight: 600;
    color: #0c293a;
    margin: 0;
    text-align: left;
    // text-align: left;
    // padding-left: 13px;
  }
}

.loadMore {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.86px;
  color: #36485e;
  cursor: pointer;
  text-align: left;

  padding-left: 8px;
  // padding: 5px 0 15px 16px;
}
.notice {
  display: flex;
  justify-content: center;
  span {
    margin-right: 3px;
  }
}

.groupSet {
  :global {
    .ant-modal-content {
      width: 585px;
    }

    .ant-modal-body {
      padding: 0;
    }

    .ant-modal-close-x {
      color: white;
    }
  }
}
