.Load {
  text-align: center;
}

.loadImg {
  margin-top: 91px;
  animation: myload 0.8s linear infinite;
  -webkit-animation: myload 0.8s linear infinite;
}

@keyframes myload {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /*IE9*/
    -moz-transform: rotate(0deg);
    /*Firefox*/
    -webkit-transform: rotate(0deg);
    /*Safari和Chrome*/
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    /*IE9*/
    -moz-transform: rotate(-360deg);
    /*Firefox*/
    -webkit-transform: rotate(-360deg);
    /*Safari和Chrome*/
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}

.later {
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 67px;
}

.membersLoading {
  display: flex;
  align-items: center;
  justify-content: center;
}
